* {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 40px;
  background: black;
}

#container > * {
  position: absolute;
}